.containerM {
    display: flex;
    background-color: #E7EBF5;
}

.main-content {
    display: flex;
}
.contenedor{
    width: 100%;
}

.ContenedorPendientes {
    width: 1000px;
    background-color: #E7EBF5;
    margin: 20px;
    border-radius: 10px;
}
.TituloTabla{
    position: relative;
    background-color: #A3B6E6;
    border-radius: 10px 10px 0 0;
    height: 40px;
    display: flex;
    padding: 10px;
}
.tablas{
    display: flex;
    width: 1200px;
    height: 100vh;
    flex-direction: column;
    background-color: #D4DDE7;
}
.TituloTabla h2{
    color: white;
}
.ContenedorPendientes h2 {
    margin: 0 0 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

table td {
    border-bottom: 1px solid #000000;
}

.pendientes {
    font-size: 14px;
}

.estatus {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.pendiente {
    background-color: red;
    margin-left: 6px;
}

.hecho {
    background-color: green;
    margin-left: 6px;
}

.fecha {
    color: #4E5A7D;
    font-weight: bold;
    font-size: 12px;
}

.estatusTexto {
    color: red;
    font-weight: bold;
    font-size: 12px;
}
.Desplegar{
    position:absolute ;
    right: 8px;
}
.Desplegable{
    width: 25px;
}
.registro{
    display: flex;
    height: 30px;
}
td p{
    color: #D0CFCE;
    margin-left: 10px;
    margin-bottom: 5px;
}

/*****/
a{
    text-decoration: none;
  }
/**********************************************************************************************************/


.container {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    background-color: #d0e4ff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: 0;
    font-size: 24px;
    color: #3a73b0;
}

form {
    padding: 20px;
    
}
/**************************/
.formContenedor{
    display: flex;
}
.left{
    width: 50%;
    padding: 2%;
}
.right{
    width: 50%;
    padding: 2%;
}
fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-size: 18px;
    color: #3a73b0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

input[type="range"] {
    width: calc(100% - 20px);
    margin-left: 10px;
}

.botones {
    text-align: right;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button.cancelar {
    background-color: #ccc;
    color: #333;
    margin-right: 10px;
}

button.enviar {
    background-color: #4caf50;
    color: white;
}

button.enviar:hover {
    background-color: #45a049;
}
