<!-- app.component.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Tramites</title>
</head>
<body>
    <app-login></app-login>
    <!--
    <app-header></app-header>

    <div class="container">
        
        <app-lateral></app-lateral>
    
        <div class="contenedor">
            
            <app-barra-opc></app-barra-opc>
            -->
            <!--  <app-crear-tramite></app-crear-tramite>  -->
            <!--  <app-tabla-tramite></app-tabla-tramite>  -->
            <!--<router-outlet></router-outlet>-->
            <!--
            <app-arrastrar></app-arrastrar>

        </div>
    </div>
    -->
   
</body>
</html>
